* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.font-size-11px {
    font-size: 11px;
}

.font-size-12px {
    font-size: 12px;
}

.font-size-14px {
    font-size: 14px;
}

.font-size-22px {
    font-size: 22px;
}

.font-bold {
    font-weight: bold;
}

.bg-transparent {
    background-color: transparent;
}

.bg-red {
    background-color: red;
}

.non-border {
    border: none;
    outline: none;
}

.space-enough {
    padding: 12px;
}

body {
    background-color: #1b1d2b;
}

button {
    cursor: pointer;
    transition: 1s all;
    border-radius: 5px;    
}

.log-reg-btn-grp button.sign-up:hover {
    background-color: darkred;
}