* {
    font-family: "SofiaPro", sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.font-light-gray {
    color: #bcbfc7 !important;
}

.font-size-11px {
    font-size: 11px;
}

.font-size-12px {
    font-size: 12px;
}

.font-size-14px {
    font-size: 14px;
}

.font-size-22px {
    font-size: 22px;
}

.font-bold {
    font-weight: bold;
}

.bg-transparent {
    background-color: transparent;
}

.bg-red {
    background-color: #f12c4c;
}

.non-border {
    border: none;
    outline: none;
}

.space-enough {
    padding: 14px 25px;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

body {
    background-color: #1b1d2b;
}

button {
    cursor: pointer;
    transition: 1s all;
    border-radius: 5px;    
}

.root {

}

.root .header {
    height: 72px;
}

.root .header>.left {
    width: 13%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.root .header>.left>.left-pane-tab>a {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.root .header>.right {
    width: 87%;
    float: right;
    display: flex;
}

.root .header>.right>.content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 5px 16px;
}

.root .header>.right>.content>.content-first {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}

.root .header>.right>.content>.content-first>* {
    margin-left: 30px;
    padding: 5px 5px;
}

.root .header>.right>.content>.content-first>.leftbar-clicker {
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.root .header>.right>.content>.content-first>.leftbar-clicker:hover {
    background-color: rgba(255,255,255,.2);
}

.root .header>.right>.content>.log-reg-btn-grp {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
}


.log-reg-btn-grp button.sign-up:hover {
    background-color: #cc2843;
}

.left-bar {
    width: 16%;
    float: left;
    font-size: 12px !important;
    font-weight: bold;
    margin-top: 50px;
    border-top: none !important;
}

.left-bar>.menu-collapse:first-child {
    border-top: none !important;
}

.left-bar>.menu-collapse:last-child {
    border-bottom: 1px solid gray;
}

.left-bar>.menu-collapse>.btn-earn-free-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border-top: none !important;
}

.left-bar>.menu-collapse>.btn-earn-free-container>.btn-earn-free {
    width: 80%;
    height: auto;
    padding: 15px;
    background-color: #f12c4c;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}

.left-bar>.menu-collapse>.btn-earn-free-container>.btn-earn-free:hover {
    background-color: #cc2843;
}

.left-bar>.menu-collapse {
    width: auto;
    border: 0.5px solid gray;
    border-bottom: none;
    padding: 25px;
}

.left-bar>.menu-collapse>p {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    line-height: 2.5;
}

.left-bar>.menu-collapse>.menu-list-container>p {
    line-height: 2.5;
    color: gray !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}


.left-bar>.menu-collapse>.menu-list-container>p:hover {
    color: white;
}

.page-container {
    float: right;
    text-align: center;
    width: 84%;
}

.page-container>.gallery-container {
    width: 88%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}